<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ntachi-Osa</title>
</head>
<body>
  <nav><div class="brand">Ntachi Osa - Restaurant</i></div><ul><li><button id="home">Home</button></li><li><button id="food-menu">Food Menu</button></li><li><button id="contact">Visit Us</button></li></ul></nav>
  <div id="content"></div>
  <footer> &copy; 2019. Ntachi Osa - SPA</footer>
</body>
</html>